/* Tablet */
@media (max-width: 820px) and (min-width: 600px) {
  #band .text-justify {
    margin: 0 16px;
  }

  .place-item {
    margin: 0 4px;
    max-width: 100%;
  }

  .place-list {
    margin-left: -4px;
    margin-right: -4px;
  }

  #tour .content-section {
    margin: 0 16px;
  }

  .contact-form {
    margin: 0 16px;
  }
}

/* Phone */
@media (max-width: 600px) {
  #header {
    overflow: hidden;
  }

  #band .text-justify {
    margin: 0 16px;
  }

  #tour .content-section {
    margin: 0 16px;
  }

  .contact-form {
    margin: 0 16px;
  }

  .menu li {
    display: block;
  }

  .menu > li:first-child {
    display: inline-block;
  }

  .menu-mobile {
    display: block;
  }

  .menu li .yo {
    display: block;
  }
}
