* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

#header {
  height: 46px;
  width: 100%;
  background-color: black;
  position: fixed;
}

#nav {
  display: inline-block;
}

#nav li:hover {
  background-color: #cccccc;
}

#nav > li {
  display: inline-block;
  position: relative;
}

#nav li:hover a {
  color: black;
}

#nav li a {
  color: white;
  text-decoration: none;
  line-height: 46px;
  padding-left: 24px;
  padding-right: 24px;
}

#nav > li > a {
  text-transform: uppercase;
}

#nav .subnav {
  position: absolute;
  background-color: white;
  list-style: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: none;
  min-width: 130px;
}

#nav .subnav a {
  color: black;
  padding: 16px;
  line-height: 40px;
}

#nav li:hover .subnav {
  display: block;
}

#about h1 {
  padding-top: 80px;
}

#about h4 {
  padding-top: 40px;
  opacity: 0.6;
}

#about p {
  text-align: justify;
  padding: 30px 200px;
}

#members {
  text-align: center;
}

#members li {
  display: inline-block;
  align-items: center;
  padding: 0 40px;
}

#about h1 {
  text-transform: uppercase;
}

#nav .arrow-down {
  padding-left: 10px;
  font-size: 15px;
}

.search-button {
  color: white;
  float: right;
  line-height: 46px;
  padding: 0 20px;
}

.search-button:hover {
  background-color: tomato;
  cursor: pointer;
}