* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-family: sans-serif;
}

#header {
  height: 46px;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 1;
}

#nav {
  display: inline-block;
}

#nav li:hover {
  background-color: #cccccc;
}

#nav > li {
  display: inline-block;
  position: relative;
}

#nav li:hover a {
  color: black;
}

#nav li a {
  color: white;
  text-decoration: none;
  line-height: 46px;
  padding-left: 24px;
  padding-right: 24px;
}

#nav > li > a {
  text-transform: uppercase;
}

#nav .subnav {
  position: absolute;
  background-color: white;
  list-style: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: none;
  min-width: 130px;
}

#nav .subnav a {
  color: black;
  padding: 16px;
  line-height: 40px;
}

#nav li:hover .subnav {
  display: block;
}

#about h2 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 5px;
  text-align: center;
}

#about .sub-heading {
  opacity: 0.6;
  margin-top: 25px;
  font-size: 15px;
  text-align: center;
}

#about .about-text {
  text-align: justify;
  margin-top: 25px;
  line-height: 1.4;
  font-weight: 370;
  font-size: 15px;
}

#about {
  margin: 0 15%;
  padding: 64px 0;
}

#members {
  text-align: center;
  overflow: hidden;
}

#members h2 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#members .member-item {
  display: inline-block;
  align-items: center;
  margin: 20px 40px;
}

#members .member-item img {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#members .member-name {
  margin-bottom: 10px;
  font-size: 15px;
}

#nav .arrow-down {
  padding-left: 10px;
  font-size: 15px;
}

.search-button {
  color: white;
  float: right;
  line-height: 46px;
  padding: 0 20px;
}

.search-button:hover {
  background-color: tomato;
  cursor: pointer;
}

#slide {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background-image: url("chicago.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

#slide .content {
  position: absolute;
  color: white;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding-bottom: 50px;
}

#slide .text-heading {
  font-size: 30px;
  padding-bottom: 20px;
}

#tour {
  background-color: black;
  padding-bottom: 80px;
}

#tour .content-section {
  padding-top: 80px;
  margin: 0 220px;
}

#tour .tour-heading {
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  font-weight: 500;
}

#tour .tour-sub-heading {
  color: #cccccc;
  text-align: center;
  margin-top: 20px;
}

.tickets-list {
  background-color: white;
  margin-top: 40px;
}

.tickets-list .sold-out {
  background-color: red;
  color: white;
  margin-left: 20px;
  padding: 2px 5px;
}

.tickets-list li {
  font-size: 15px;
  padding: 10px 13px;
  color: #757575;
  list-style: none;
  border-bottom: 1px solid #ccc;
}

.tickets-list .quantity {
  float: right;
  background-color: black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 25px;
  margin-top: -3px;
}

.place-list {
  margin: 32px -8px 0;
  position: relative;
  overflow: auto;
}

.place-item {
  float: left;
  width: calc(100%/3.1);
  margin-left: 8px;
}

.place-img {
  width: 100%;
  display: block;
}

.place-img:hover {
  opacity: 0.8;
}

.place-body {
  background-color: white;
  padding: 16px;
  font-size: 15px;
}

.place-heading {
  font-weight: 500;
  font-size: 16px;
}

.place-time {
  opacity: 0.7;
  margin-top: 15px;
}

.place-description {
  margin-top: 15px;
  line-height: 1.4;
  margin-bottom: 15px;
}

.buy-button {
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 11px 16px;
  display: inline-block;
}

.buy-button:hover {
  opacity: 0.8;
}